{
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "jsdoc",
      "@typescript-eslint"
  ],
  "root": true
}
